body, html {
	background:#fff;
	font-family: sans-serif;
	padding-bottom: 50px;
}



.clock {
	font-family: sans-serif;
	font-size: 14px;
	font-weight: 300;
	display: block;
	margin-top: 20px;
	text-align: center;
}

.clock #txt {
	display: inline-block;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.logo {
	display: block;
	width: 250px;
	margin:0 auto;
	margin-bottom: 30px;
}


.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 500px;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -250px;
    margin-top: -80px;
}

.red-overtime {
	color: #ff0000;
	font-weight: bold;
}

div.footer {
	position: fixed;
	padding:10px 0px;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	background: #fff;
	border-top: solid 1px #eee;
	font-size: 11px;
}
